
*{
margin: 0;
padding: 0;
}
#loader{
display: inline;
float: left;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
}
.loader1{
font-size: 40px;
float: left;
animation: load1 10s infinite linear;
padding: 13px;
}
.loader2{
font-size: 40px;
float: left;
animation: load2 10s infinite linear;
animation-delay: 1s;
padding: 13px;
}
.loader3{
font-size: 40px;
float: left;
animation: load3 10s infinite linear;
animation-delay: 2s;
padding: 13px;
}
.loader4{
font-size: 40px;
float: left;
animation: load4 10s infinite linear;
animation-delay: 3s;
padding: 13px;
}
.loader5{
font-size: 40px;
float: left;
animation: load5 10s infinite linear;
animation-delay: 4s;
padding: 13px;
}
.loader6{
font-size: 40px;
float: left;
animation: load6 10s infinite linear;
animation-delay: 5s;
padding: 13px;
}
.loader7{
font-size: 40px;
float: left;
animation: load7 10s infinite linear;
animation-delay: 6s;
padding: 13px;
}
@keyframes load1{
0%{font-size: 60px;
}
50%{font-size: 50px;
}
100%{
font-size: 40px}
}
@keyframes load2{
0%{font-size: 60px;
}
50%{font-size: 50px;
}
100%{
font-size: 40px}
}
@keyframes load3{
0%{font-size: 60px;
}
50%{font-size: 50px;
}
100%{
font-size: 40px}
}
@keyframes load4{
0%{font-size: 60px;
}
50%{font-size: 50px;
}
100%{
font-size: 40px}
}
@keyframes load5{
0%{font-size: 60px;
}
50%{font-size: 50px;
}
100%{
font-size: 40px}
}
@keyframes load6{
0%{font-size: 60px;
}
50%{font-size: 50px;
}
100%{
font-size: 40px}
}
@keyframes load7{
0%{font-size: 60px;
}
50%{font-size: 50px;
}
100%{
font-size: 40px}
}
@media screen and (max-width: 768px){
.loader1{
font-size: 15px;
float: left;
animation: load1 10s infinite linear;
padding: 5px;
}
.loader2{
font-size: 15px;
float: left;
animation: load2 10s infinite linear;
animation-delay: 1s;
padding: 5px;
}
.loader3{
font-size: 15px;
float: left;
animation: load3 10s infinite linear;
animation-delay: 2s;
padding: 5px;
}
.loader4{
font-size: 15px;
float: left;
animation: load4 10s infinite linear;
animation-delay: 3s;
padding: 5px;
}
.loader5{
font-size: 15px;
float: left;
animation: load5 10s infinite linear;
animation-delay: 4s;
padding: 5px;
}
.loader6{
font-size: 15px;
float: left;
animation: load6 10s infinite linear;
animation-delay: 5s;
padding: 5px;
}
.loader7{
font-size: 15px;
float: left;
animation: load7 10s infinite linear;
animation-delay: 6s;
padding: 5px;
}
@keyframes load1{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@keyframes load2{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@keyframes load3{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@keyframes load4{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@keyframes load5{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@keyframes load6{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@keyframes load7{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@media screen and (max-width: 5000px){
.loader1{
font-size: 15px;
float: left;
animation: load1 10s infinite linear;
padding: 5px;
}
.loader2{
font-size: 15px;
float: left;
animation: load2 10s infinite linear;
animation-delay: 1s;
padding: 5px;
}
.loader3{
font-size: 15px;
float: left;
animation: load3 10s infinite linear;
animation-delay: 2s;
padding: 5px;
}
.loader4{
font-size: 15px;
float: left;
animation: load4 10s infinite linear;
animation-delay: 3s;
padding: 5px;
}
.loader5{
font-size: 15px;
float: left;
animation: load5 10s infinite linear;
animation-delay: 4s;
padding: 5px;
}
.loader6{
font-size: 15px;
float: left;
animation: load6 10s infinite linear;
animation-delay: 5s;
padding: 5px;
}
.loader7{
font-size: 15px;
float: left;
animation: load7 10s infinite linear;
animation-delay: 6s;
padding: 5px;
}
@keyframes load1{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@keyframes load2{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@keyframes load3{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@keyframes load4{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@keyframes load5{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@keyframes load6{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
@keyframes load7{
0%{font-size: 25px;
}
50%{font-size: 20px;
}
100%{
font-size: 15px}
}
